{% extends 'news/base.html' %}
{% load static %}
{% block title %} My Profile{% endblock title %}

{% block content %}
    {% if request.user.is_authenticated and request.user == user %}
<section class="vh-350" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="{{ profile.photo.url }}"
                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              <h6 style="color: black">{{request.user.first_name}}</h6>
              <p style="color: black">{{ user.last_name }}</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information   <a href="{% url 'logout' %}" style="color: crimson">Logout</a></h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Username</h6>
                    <p class="text-muted">{{ user.username }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{ user.email }}</p>
                  </div>
                </div>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Adress</h6>
                    <p class="text-muted">{{ profile.address }}</p>
                  </div>

                </div>
                <div class="d-flex justify-content-start">
                    <h6 style="color: crimson"><a href="{% url 'password_change' %}">Change password</a></h6><br>
                    <h6 style="color: dodgerblue"><a href="{% url 'profile_edit' %}">Profile edit</a></h6>
                  <a href="#"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                  <a href="#"><i class="fab fa-twitter fa-lg me-3"></i></a>
                  <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  {% endif %}


{#<div style="display: block; justify-content: center;">#}
{# #}
{#    <div style="display: flex;">#}
{#    <h2>Welcome your profile {{request.user.username}} </h2>#}
{#       {% if request.user.is_authenticated  %}#}
{#    <p style="color: red;"><a href="{% url 'logout' %}">Logout</a></p>#}
{#    {% endif %}#}
{#    </div> #}
{#    <h3>Your information</h3>#}
{#    <img src="{{ profile.photo.url }}" width="15%" height="10%">#}
{#    <label>Username:  </label><input value="{{user.username}}" readonly style="margin-left: 15px;"><br>#}
{#    <label>Email:  </label><input value="{{user.email}}" readonly style="margin-left: 15px;"><br>#}
{#    <label>First name:  </label><input value="{{user.first_name}}" readonly style="margin-left: 15px;"><br>#}
{#    <label>Last name:  <label><input value="{{user.last_name}}" readonly style="margin-left: 15px;"><br>#}
{#    <h6>{{ profile.address }}</h6>#}
{#</div>#}
{#<h6 style="color: crimson"><a href="{% url 'password_change' %}">Change password</a></h6>#}
{#<h6 style="color: chocolate"><a href="{% url 'profile_edit' %}">Profile edit</a></h6>#}
{% endblock %}
