{% extends 'news/base.html' %}
{% load static %}
{% block content %}

	<section id="center" class="contact_pg pt-5 pb-5">
		<div class="container-xl">
			<div class="contact_pg1 row">
				<div class="col-md-3">
					<div class="contact_pg1_left">
						<div class="contact_pg1_left1 bg_orange py-4 px-3 text-center">
							<span><a href="#"><i class="bi bi-map"></i></a></span>
							<h5 class="text-white fs-6 mt-3 mb-3">OFFICE ADDRESS</h5>
							<h6 class="text-white font_14 mb-0 fw-normal lh-base">Tashkent city</h6>
						</div>
						<div class="contact_pg1_left1 bg_orange py-4 px-3 text-center mt-4">
							<span><a href="#"><i class="bi bi-telephone"></i></a></span>
							<h5 class="text-white fs-6 mt-3 mb-3">PHONE</h5>
							<h6 class="text-white font_14 mb-0 fw-normal"><span class="fw-bold">Mobile :</span> +998772501326</h6>
							
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="contact_pg1_right">
						<h2>Send us a Message</h2>
						<p class="mt-3  font_15">Vestibulum quis odio ut dui malesuada ornare ut id tellus. Curabitur
							viverra at magna ac bibendum. Aliquam erat volutpat. Proin rhoncus est ac ipsum varius
							fermentum. Integer a odio ornare mauris pharetra suscipitot. Integer vulputate elit erat.
							Vestibulum quam velit, sagittis et ipsum id.</p>
						<form class="row g-3 needs-validation" novalidate="" method="post">{% csrf_token %}
							<div class="col-md-6">

								<input type="text" class="form-control font_14 bg_light" id="name" placeholder="Name" name="name"
									required="">
								<div class="valid-feedback">
									Looks good!
								</div>
								<div class="invalid-feedback">
									Please provide a valid first name.
								</div>
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control font_14 bg_light" id="email" placeholder="Email" name="email"
									required="">
								<div class="valid-feedback">
									Looks good!
								</div>
								<div class="invalid-feedback">
									Please provide a valid last name.
								</div>
							</div>
							<div class="col-md-6">

								<input type="text" class="form-control font_14 bg_light" id="subject" placeholder="Subject" name="subject"
									required="">
								<div class="valid-feedback">
									Looks good!
								</div>
								<div class="invalid-feedback">
									Please provide a valid subject.
								</div>
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control font_14 bg_light" id="website" placeholder="Website" name="website"
									required="">
								<div class="valid-feedback">
									Looks good!
								</div>
								<div class="invalid-feedback">
									Please provide a valid website.
								</div>
							</div>
							<div class="col-md-12">
								<textarea id="message"  name="message"
									class="form-control form_text font_14 bg_light" required=""></textarea>
								<div class="valid-feedback">
									Looks good!
								</div>
								<div class="invalid-feedback">
									Please provide a valid message.
								</div>
							</div>
							<div class="col-12">
								<div class="form-check font_14">
									<input class="form-check-input" type="checkbox" value="" id="invalidCheck"
										required="">
									<label class="form-check-label" for="invalidCheck">
										Before registration read our <a href="#">Privacy Statement</a> and <a
											href="#">Terms & Conditions</a>
									</label>
									<div class="valid-feedback">
										Looks good!
									</div>
									<div class="invalid-feedback">
										You must agree before submitting.
									</div>
								</div>
							</div>
							<div class="col-12 center_sm">
								<button class="btn btn-primary button text-white w-50 border-0 rounded-0 fs-5"
									type="submit">Send <i class="bi bi-arrow-right ms-2 align-middle"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="row contact_2 mt-4">
				<div class="col-md-12">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3132.0403403694995!2d69.2867291!3d41.340930199999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sru!2s!4v1748581489344!5m2!1sru!2s"
						height="450" style="border:0; width:100%;" allowfullscreen=""></iframe>

				</div>
			</div>
		</div>
	</section>


	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function () {
			'use strict'

			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.querySelectorAll('.needs-validation')

			// Loop over them and prevent submission
			Array.prototype.slice.call(forms)
				.forEach(function (form) {
					form.addEventListener('submit', function (event) {
						if (!form.checkValidity()) {
							event.preventDefault()
							event.stopPropagation()
						}

						form.classList.add('was-validated')
					}, false)
				})
		})()
	</script>

{% endblock %}