{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gen Magazine</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/global.css' %}" rel="stylesheet">
	<link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>

 <section id="top_head" class="pt-3 pb-3">
   <div class="container-xl">
     <div class="row">
		<div class="col-md-4">
		 <div class="top_head_left">
		    <b class="text-uppercase fs-1 lh-1">
			<a href="index.html">
			<span class="col_orange">Gen</span>Magazine
			<span class="d-block text-muted font_12 ms-1 fw-normal">Our Magazine Theme</span>
			</a>
			</b>
		 </div>
		</div>
		<div class="col-md-5">
		 <div class="top_head_right">
		   <div class="input-group p-1 bg_light  border_light">
				<input type="text" class="form-control bg-transparent border-0" placeholder="Search Here">
				<span class="input-group-btn">
					<button class="btn btn-primary bg_orange rounded-0 p-2 px-3 border-0" type="button">
						<i class="bi bi-search"></i> </button>
				</span>
		</div>
		 </div>
		</div>
		<div class="col-md-3">
		 <div class="top_head_right_o">
		     <ul class="mb-0 d-flex justify-content-end social_brands">
			    <li><a class="d-inline-block" href="login.html">Login</a></li>
				<li class="mx-2 text-muted">/</li>
				<li><a class="d-inline-block" href="register.html">Register</a></li>
			  </ul>
		 </div>
		</div>
	 </div>
   </div>
 </section>
 
 <section id="header">
        <nav class="navbar navbar-expand-lg navbar-light w-100 border-bottom border-top">
      <div class="container-xl">
         <a class="d-flex" href="index.html">
			 <b class="fs-3  d-block logo hide"> <i class="bi bi-newspaper  me-1 align-middle col_orange"></i> Gen Magazine</b>
	     </a>
         <button class="navbar-toggler offcanvas-nav-btn  ms-auto me-3" type="button">
            <img src="image/icons-svg/list.svg" width="40" height="40" alt="Open TemplateOnweb website menu"/>
         </button>
         <div class="offcanvas offcanvas-start offcanvas-nav" style="width: 20rem">
            <div class="offcanvas-header shadow">
			    <a class="d-flex" href="index.html">
					 <b class="fs-3  d-block logo hide"> <i class="bi bi-newspaper  me-1 align-middle col_orange"></i> Gen Magazine</b>
				 </a>
               <img src="image/icons-svg/x.svg" width="40" height="40" class="ms-auto" data-bs-dismiss="offcanvas" aria-label="Close" alt="Close TemplateOnweb website menu"/>
			   
            </div>
            <div class="offcanvas-body pt-0 align-items-center">
               <ul class="navbar-nav align-items-lg-center">
			      <li class="nav-item"> 
				      <a class="nav-link dropdown-toggle ps-0 fs-3" href="index.html" title="Visit home page">
					  <i class="bi bi-house"></i>
					  </a>
				  </li>
				  <li class="nav-item"> 
				      <a class="nav-link dropdown-toggle" href="politics.html" title="Visit home page">
					  Politics
					  </a>
				  </li>
				  <li class="nav-item"> 
				      <a class="nav-link dropdown-toggle" href="sports.html" title="Visit home page">
					  Sports
					  </a>
				  </li>
				  
				  <li class="nav-item"> 
				      <a class="nav-link dropdown-toggle" href="travel.html" title="Visit home page">
					  Travel
					  </a>
				  </li>
		
		          <li class="nav-item dropdown drop_border">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            News<img src="image/icons-svg/chevron-down.svg" width="15" height="15" alt="Submenu open/close icon">
          </a>
          <ul class="dropdown-menu drop_1 shadow" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="news.html"> News</a></li>
			<li><a class="dropdown-item border-0" href="news_detail.html"> News Detail</a></li>
          </ul>
        </li>
		
				  
				  <li class="nav-item dropdown drop_border">
                     <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Click to see Blogs category">
					   Popular News<img src="image/icons-svg/chevron-down.svg" width="15" height="15" alt="Submenu open/close icon"></a>
                     <ul class="dropdown-menu shadow drop_1 shadow">
                        <li><a class="dropdown-item" href="travel.html">Trending</a></li>
                        
                        <li class="dropdown-submenu dropend">
                           <a class="dropdown-item dropdown-toggle border-0" href="javascript:void(0);">Sports <img src="image/icons-svg/chevron-right.svg" width="15" height="15"></a>
                           <ul class="dropdown-menu">
                              <li>
                                 <a class="dropdown-item" href="sports.html">Latest</a>
                              </li>
                              <li>
                                 <a class="dropdown-item border-0" href="sports.html">Popular</a>
                              </li>
                           </ul>
                        </li>
						
						<li class="dropdown-submenu dropend">
                           <a class="dropdown-item dropdown-toggle border-0" href="javascript:void(0);">Travel <img src="image/icons-svg/chevron-right.svg" width="15" height="15"></a>
                           <ul class="dropdown-menu">
                              <li>
                                 <a class="dropdown-item" href="travel.html">Places</a>
                              </li>
                              <li>
                                 <a class="dropdown-item border-0" href="travel.html">World Tour</a>
                              </li>
                           </ul>
                        </li>
						<li class="dropdown-submenu dropend">
                           <a class="dropdown-item dropdown-toggle border-0" href="javascript:void(0);">Politics <img src="image/icons-svg/chevron-right.svg" width="15" height="15"></a>
                           <ul class="dropdown-menu">
                              <li>
                                 <a class="dropdown-item border-0" href="politics.html">World News</a>
                              </li>
                           </ul>
                        </li>
						<li class="dropdown-submenu dropend">
                           <a class="dropdown-item dropdown-toggle border-0" href="javascript:void(0);">Other <img src="image/icons-svg/chevron-right.svg" width="15" height="15"></a>
                           <ul class="dropdown-menu">
                              <li>
                                 <a class="dropdown-item border-0" href="sports.html">Top Rated</a>
                              </li>
                           </ul>
                        </li>
                     </ul>
                  </li>
				  
				  <li class="nav-item"> 
				      <a class="nav-link dropdown-toggle" href="team.html" title="Visit home page">
					  Team
					  </a>
				  </li>
				  
				  <li class="nav-item dropdown drop_border">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pages<img src="image/icons-svg/chevron-down.svg" width="15" height="15" alt="Submenu open/close icon">
          </a>
          <ul class="dropdown-menu drop_1 shadow" aria-labelledby="navbarDropdown">
			 <li><a class="dropdown-item" href="login.html"> Login</a></li>
			<li><a class="dropdown-item border-0" href="register.html"> Register</a></li>
          </ul>
        </li>
				  
				  <li class="nav-item"> 
				      <a class="nav-link dropdown-toggle" href="contact.html" title="Visit home page">
					  Contact Us
					  </a>
				  </li>
               </ul>
			   <ul class="navbar-nav align-items-lg-center ms-auto icon_social">
			        <li class="nav-item"> 
				      <a class="d-inline-block fs-4 me-2" href="#"><i class="bi bi-facebook"></i></a>
					  <a class="d-inline-block  fs-4 me-2" href="#"><i class="bi bi-instagram"></i></a>
					  <a class="d-inline-block  fs-4" href="#"><i class="bi bi-pinterest"></i></a>
				  </li>
                 </ul>
            </div>
         </div>    
         </div>
      </div>
   </nav>
 </section>
 
 <section id="center" class="login pt-5 pb-5">
   <div class="container-xl">
      <div class="row login_1 mx-auto">
		  <div class="col-md-6 p-0">
		   <div class="login_1l">
		     <a href="#"><img src="image/70.jpg" class="img-fluid" alt="abc"></a>
		   </div>
		  </div>
		  <div class="col-md-6 p-0">
		   <div class="login_1r p-5 text-center shadow">
		    <h3 class="mb-3">Welcome Back!</h3>
			<input class="form-control" placeholder="Enter Email Address..." type="text">
			<input class="form-control mt-3" placeholder="Password" type="password">
			<div class="form-check mt-3 text-start">
            <input type="checkbox" class="form-check-input" id="checkmeout0">
            <label class="form-check-label" for="checkmeout0">Remember Me</label>
        </div>
		    <h6 class="mt-3 font_14"><a class="bg-info d-block rounded-3 p-3 text-white" href="#">Login</a></h6>
			<hr>
			<h6 class="mt-3 font_14"><a class="bg_orange d-block rounded-3 p-3 text-white" href="#"><i class="bi bi-google me-1"></i> Login with Google</a></h6>
			<h6 class="mt-3 font_14"><a class="bg-primary d-block rounded-3 p-3 text-white" href="#"><i class="bi bi-facebook me-1"></i> Login with Facebook</a></h6>
			<hr>
			<h6 class="font_14 fw-normal"><a class="col_orange" href="#">Forgot Password?</a></h6>
			<h6 class="font_14 mb-0 fw-normal"><a class="col_orange" href="#">Create an Account!</a></h6>
		   </div>
		  </div>
		 </div>
   </div>
 </section>
 

 <section id="footer">
   <div class="footer_m bg_back_dark pt-5 pb-5">
       <div class="container-xl">
	     <div class="row row-cols-1 row-cols-md-4 footer_1">
		   <div class="col">
		    <div class="footer_1_left">
			  <b class="text-uppercase fs-2 lh-1">
			<a class="text-white" href="index.html">
			<span class="col_orange">Gen</span>Magazine
			<span class="d-block text-white-50 font_12 ms-1 fw-normal">Our Magazine Theme</span>
			</a>
			</b>
			<b class="text-uppercase  text-white-50 d-block mt-3">Multiconcept Magazine Theme Type</b>
			<p class="mt-3 text-white-50">NSuspendisse bibendum efficitur orci, a pretium erat mattis nec. Vestibulum antema ypsumi primisot inaetahsjanl faucibus orci luctus etenjot ultrices posuere cubilia andt.</p>
			<p class="mb-0 text-white-50">Vestibulum quis odio ut dui malesuada ornare ut id tellus. Curabitur viverra at magna ac bibendum. Aliquam erat volutpat. Proin rhoncus est ac ipsum varius fermentum. </p>
			</div>
		   </div>
		   <div class="col">
		    <div class="footer_1_left">
			 <b class="fs-5  d-inline-block text-uppercase text-white">Latest <span class="col_orange">Comments</span></b>
	   <hr class="line bg_orange mt-2 mb-4">
	   <ul class="mb-0">
		     <li class="d-flex">
			   <span class="me-3"><a href="#"><img alt="abc" src="image/13.jpg"></a></span>
			   <span class="flex-column lh-1">
				    <span class="text-white font_14">  Lorem Amet</span>
					<span class="d-block font_12 family_1  mt-2 pt-2 lh-base border_dark border-start-0 border-end-0 border-bottom-0"><a class="text-white-50 link" href="#">Vestibulum quis  magna  bibendum</a></span>
			   </span>
			 </li>
			 <li class="d-flex mt-3">
			   <span class="me-3"><a href="#"><img alt="abc" src="image/14.jpg"></a></span>
			   <span class="flex-column lh-1">
				    <span class="text-white font_14">  Porta Sem</span>
					<span class="d-block font_12 family_1  mt-2 pt-2 lh-base border_dark border-start-0 border-end-0 border-bottom-0"><a class="text-white-50 link" href="#">Integer non nisl elit quis sem quis</a></span>
			   </span>
			 </li>
			 <li class="d-flex mt-3">
			   <span class="me-3"><a href="#"><img alt="abc" src="image/15.jpg"></a></span>
			   <span class="flex-column lh-1">
				    <span class="text-white font_14">  Ipsum Quis</span>
					<span class="d-block font_12 family_1  mt-2 pt-2 lh-base border_dark border-start-0 border-end-0 border-bottom-0"><a class="text-white-50 link" href="#">Accumsan quis ante eleifend porta</a></span>
			   </span>
			 </li>
		   </ul>
			</div>
		   </div>
		   <div class="col">
		    <div class="footer_1_left">
			 <b class="fs-5  d-inline-block text-uppercase text-white">Subscribe <span class="col_orange">Us</span></b>
	        <hr class="line bg_orange mt-2 mb-4">
	        <input class="form-control bg-dark border-0 text-white"  type="text">
			<span class="d-block mt-3"><a class="button py-2" href="#">Subscribe</a></span>
			<b class="fs-5  d-inline-block text-uppercase text-white mt-4">Popular <span class="col_orange">Tags</span></b>
	        <hr class="line bg_orange mt-2 mb-4">
			<ul class="mb-0 d-flex flex-wrap font_13 text-uppercase">
		     <li class="mx-1 mt-1 mb-1"><a class="d-block text-white-50 link" href="news_detail.html">News</a></li>	
			 <li class="mx-1 mt-1 mb-1"><a class="d-block text-white-50 link" href="news_detail.html">Headlines</a></li>	
			 <li class="mx-1 mt-1 mb-1"><a class="d-block text-white-50 link" href="news_detail.html">Politics</a></li>  
			 <li class="mx-1 mt-1 mb-1"><a class="d-block text-white-50 link" href="news_detail.html">Travel</a></li> 
			  <li class="mx-1 mt-1 mb-1"><a class="d-block text-white-50 link" href="news_detail.html">Event</a></li>	
			 <li class="mx-1 mt-1 mb-1"><a class="d-block text-white-50 link" href="news_detail.html">Lorem</a></li>	
			 <li class="mx-1 mt-1 mb-1"><a class="d-block text-white-50 link" href="news_detail.html">Porta</a></li>  
			 <li class="mx-1 mt-1 mb-1"><a class="d-block text-white-50 link" href="news_detail.html">Ipsum</a></li> 
			  <li class="mx-1 mt-1 mb-1"><a class="d-block text-white-50 link" href="news_detail.html">Eget</a></li>  
			 <li class="mx-1 mt-1 mb-1"><a class="d-block text-white-50 link" href="news_detail.html">Nulla</a></li> 
			  <li class="mx-1 mt-1 mb-1"><a class="d-block text-white-50 link" href="news_detail.html">Semper</a></li>	
			 <li class="mx-1 mt-1 mb-1"><a class="d-block text-white-50 link" href="news_detail.html">Quis</a></li>	
			 <li class="mx-1 mt-1 mb-1"><a class="d-block text-white-50 link" href="news_detail.html">Popular</a></li>  
			 <li class="mx-1 mt-1 mb-1"><a class="d-block text-white-50 link" href="news_detail.html">Trending</a></li> 
		   </ul>
			</div>
		   </div>
		   <div class="col">
		    <div class="footer_1_left">
			 <b class="fs-5  d-inline-block text-uppercase text-white">Recent <span class="col_orange">Posts</span></b>
	        <hr class="line bg_orange mt-2 mb-4">
	   <ul class="mb-0 mt-4">
		     <li class="d-flex">
			   <span class="me-3"><a href="#"><img width="70" alt="abc" src="image/7.jpg"></a></span>
			   <span class="flex-column">
				    <b class="d-block mb-1"><a class="font_13 text-white link" href="#">In ac tempor ante, eget  augue nuncekon</a></b>
			<span class="d-block font_12 text-uppercase text-muted">
				   <span><i class="bi bi-eye col_orange me-1"></i> 129 <i class="bi bi-clock col_orange ms-2 me-1"></i> 08 Mins  <i class="bi bi-heart col_orange ms-2 me-1"></i> 14 </span>
				   </span>
			   </span>
			 </li>
             <li class="d-flex border_dark border-start-0 border-bottom-0 border-end-0 pt-3 mt-3">
			   <span class="me-3"><a href="#"><img width="70" alt="abc" src="image/8.jpg"></a></span>
			   <span class="flex-column">
				    <b class="d-block mb-1"><a class="font_13 text-white link" href="#">Vestibulum quis  ut dui malesuada ornare</a></b>
			<span class="d-block font_12 text-uppercase text-muted">
				   <span><i class="bi bi-eye col_orange me-1"></i> 139 <i class="bi bi-clock col_orange ms-2 me-1"></i> 09 Mins  <i class="bi bi-heart col_orange ms-2 me-1"></i> 13 </span>
				   </span>
			   </span>
			 </li>	
			 <li class="d-flex border_dark border-start-0 border-bottom-0 border-end-0 pt-3 mt-3">
			   <span class="me-3"><a href="#"><img width="70" alt="abc" src="image/9.jpg"></a></span>
			   <span class="flex-column">
				    <b class="d-block mb-1"><a class="font_13 text-white link" href="#"> Bibendum efficitur orci, a pretium erat</a></b>
			<span class="d-block font_12 text-uppercase text-muted">
				   <span><i class="bi bi-eye col_orange me-1"></i> 119 <i class="bi bi-clock col_orange ms-2 me-1"></i> 07 Mins  <i class="bi bi-heart col_orange ms-2 me-1"></i> 17 </span>
				   </span>
			   </span>
			 </li>		 
		   </ul>
			</div>
		   </div>
		 </div>
	   </div>
   </div>
 </section>
 
 <section id="footer_bottom" class="pt-3 pb-3 bg-black">
 <div class="container-xl">
     <div class="footer_bottom1 row">
	<div class="col-md-4">
	  <div class="footer_bottom1_right">
       <ul class="text-uppercase font_13 mb-0">
		    <li class="d-inline-block"><a class="text-white-50 link" href="#"> Facebook</a></li>
			<li class="d-inline-block mx-2 text-muted">|</li>
			 <li class="d-inline-block"><a class="text-white-50 link" href="#"> Twitter</a></li>
			 <li class="d-inline-block mx-2 text-muted">|</li>
			 <li class="d-inline-block"><a class="text-white-50 link" href="#"> Pinterest</a></li>
			 <li class="d-inline-block mx-2 text-muted">|</li>
			 <li class="d-inline-block"><a class="text-white-50 link" href="#"> Instagram</a></li>
		  </ul>
	  </div>
	 </div>
	 <div class="col-md-8">
	  <div class="footer_bottom1_left text-end">
        <p class="mb-0 text-white-50">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_orange fw-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	  </div>
	 </div>
   </div>
  </div>
</section>
 
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/theme.min.js' %}"></script>

</body>
</html>